---
import {Directus} from "@directus/sdk"
import Intro from "../../components/Intro.astro"
import Layout from "../../layouts/layout.astro"

const data_url = import.meta.env.PUBLIC_CMS_LOCATION
const directus = new Directus(data_url)
const portfolio_data = await directus.items('portfolio').readByQuery({
	filter:{
		"_and":[
			{
				"status":{
					"_eq":"published"
				}
			}
		]
	},
	limit:30,
	sort:"-date_created"
})

const portfolio = portfolio_data.data
---

<Layout title="Uzziel Technologies Portfolio" description="I am a freelance Javascript developer and listed on this page are samples of applications that I have already built. Take a look at them.">
	<Intro 
  	background="/images/laptop.webp"
  	title="My Portfolio"
		description="Take a look at all the projects I have already done"
  />
  <section class="container mx-auto p-4 my-4">
    <div class="grid sm:grid-cols-2 gap-6 mt-6 p-2">
    	{
    		portfolio.map((item) => (
					<a class="relative block p-8 overflow-hidden border border-gray-100 rounded-lg" href={`/portfolio/${item.slug}`}>
					  <span	class="absolute inset-x-0 bottom-0 h-2  bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>
					  <div class="justify-between sm:flex">
					    <div>
					      <h5 class="text-xl font-bold">
					        {item.title}
					      </h5>
					    </div>

					    <div class="flex-shrink-0 hidden ml-3 sm:block">
					      <img
					        class="object-cover w-16 h-16 rounded-lg shadow-sm"
					        src={`${data_url}assets/${item.featured_image}?fit=cover&height=100&width=100&format=webp`} alt={item.title} height={100} width={100}
					      />
					    </div>
					  </div>

					  <div class="mt-4 sm:pr-8">
					    <p class="text-sm text-stone-100">
					      {item.brief_description}
					    </p>
					  </div>
					</a>
    		))
    	}
		</div>
  </section>
</Layout>
